[submodule "lib/kicad-libraries"]
	path = lib/kicad-libraries
	url = https://github.com/espressif/kicad-libraries.git
[submodule "lib/espressif"]
	path = lib/espressif
	url = https://github.com/espressif/kicad-libraries.git
[submodule "lib/twco2sensor-mh-z19b"]
	path = lib/twco2sensor-mh-z19b
	url = https://gitlab.com/IT-Berater/twco2sensor-mh-z19b.git
[submodule "lib/KiCAD_libralies"]
	path = lib/KiCAD_libralies
	url = https://github.com/paripalpp/KiCAD_libralies.git
[submodule "lib/paripalppLib"]
	path = lib/paripalppLib
	url = https://github.com/paripalpp/KiCAD_libralies.git
